*{
	font-family: arial;
	outline: none !important;
}

html, body, #mindlyContent{
	min-width: 800px;
}

button{
	border: none;
}



/* INDEX */
#indexContent{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%
}

#mindlyLogo{
	margin: 20px 0;
}

#shape{
	border-radius: 50px;
    border: 10px solid #39d2b4;
    background: #39d2b4;
}

#submit{
	width: 50px;
    height: 50px;
    border-radius: 25px;
    border: navajowhite;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
    box-shadow: 0 0px 7px 1px rgba(0,0,0,0.25);
}

#submit:hover{
	box-shadow: 0 0px 7px 2px rgba(0,0,0,0.35);
}

#goHome{
	position: absolute;
    background: no-repeat;
    border: 1px solid gainsboro;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: silver 3px 3px 5px 0px
}

.goHome{
	left: 50% !important;
	top: 50% !important;
	width: 0px !important;
	height: 0px  !important;
	transform: translate(-50%, -50%) !important;
	transition: all .3s !important;
}

















#title{
	font-weight: bold;
}
#content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contentDiv{
	width: calc(100% - 20px);
	margin: 10px;
	display: flex;
	padding: 20px 0;
	flex-direction: column;
	align-items: center;
	border: 1px solid;
	border-radius: 10px;
}
.mainOptionButton{
	width: 300px;
	min-height: 75px;
	border: 1px solid black;
	margin: 20px 10px;
	border-radius: 5px;
	background: none;
	outline: none;
	cursor: pointer;
}

.mainOptionButton:hover{
	background: gainsboro
}

.btnOption{
	margin: 10px 0;
	width: 75%;
	height: 30px;
	border: 1px solid;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}


/* MINDLY */

#mindlyContent{
	width: 100%;
	height: 100%;
	position: relative
}
#canvas{
	width: 100% !important;
	height: 100% !important;
}

.mainCircle{
	width: 300px;
	height: 300px;
	position: absolute;
	border-radius: 50%;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 32px;
	left: -150px;
	top: -150px;
}

.cornerCircle, .centerCircle{
	width: 300px;
	height: 300px;	
	position: absolute;
	border-radius: 50%;
	box-shadow: silver 3px 3px 5px 0px;
	color: #fff !important;
	font-size: 32px;	
	border: none;
	outline: none;
	/*transition: .2s;*/
}

.cornerCircle{
	background: #5c8dfd !important;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.centerCircle{
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	top: 50%;
	left: 50%;
	z-index: 1000;
	transform: translate(-50%, -50%);
	background: #7ba3ff !important;
	box-shadow: silver 3px 3px 5px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff !important;
	font-size: 32px;
}

.element{
	z-index: 100;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background: #d4e1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}


.cornerCircle > div >  span.cornerTitle{
	transition: all .8s ease-in-out;
    font-size: 24px !important;
    width: 70%;
    z-index: -10;
    margin: -10px -20px;
}

.innerCenterCircleDiv{	
	position: relative;
	z-index: -100;
	width: 100%;
	overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-height: 100px;

}

.hide{
	display: none !important;
}
.show{
	display: flex !important;
}

.innerCenterCircleDiv > span{
	display: initial !important;
	top: 50%;	z-index: -10;
	font-size: 17px;
	width: 100px;
	max-height: 100px;
	left: 50%;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.innerCenterCircleDivFadeOut{
	position: absolute !important;
    width: 250px;
    height: 250px;
    top: 50%;
    padding: 10px 0 0 20px;
    text-align: left;
    left: 50%;
}

.cornerCircle > span{
	display: none !important
}

#cicleShape{
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 50%;
	background: none;
	border: 1px solid black;
}

.sphereAdd{
	z-index: 10;
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 50%;
	background: #757575;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 32px;
	cursor: pointer;
	border: none;
	outline: none;

}
.sphereAdd:hover{
	background: #484848 
}

.circle{
	z-index: 10;
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
	background: #d4e1ff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


.fadeOut{
	box-shadow: silver 3px 3px 5px 0px;
}
.fadeOut.end{
	color: transparent;
	transition: all .3s ease-in-out;
	background-color: rgba(255, 0, 0, 0.0);
	box-shadow: none;
	border: 0px dashed yellow;
}



.move-ne {
	width: 500px;
	height: 500px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%); 
    -moz-transform: translate(-50%,-50%);
     
}

.center{	
	width: 300px;
	height: 300px;
	transition: .3s;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
}